<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Luna_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Luna_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Luna_Launcher.Properties.Settings>
            <setting name="MinimuRam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="MaximumRam" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Snapshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OldAlfa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OldBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value />
            </setting>
        </Luna_Launcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Luna_Launcher.Properties.Settings>
            <setting name="minecraftPath" serializeAs="String">
                <value>.minecraft</value>
            </setting>
        </Luna_Launcher.Properties.Settings>
    </applicationSettings>
</configuration>